<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello! 
    <p>
      This is to confirm that order has been succesfully processed.
    </p>
   
    <p>Thanks for shopping with us and have a great day!</p>
  </body>
</html>